<div class="col-md-12">
  <div class="group">
    <%= link_to("创建项目", new_todo_path, class: "btn btn-primary pull-right") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>任务标题</td>
        <td>任务描述</td>
        <td>完成者</td>
        <td>完成时间</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "todo_item", :collection => @todos, :as => :todo  %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= will_paginate @todos %>
</div>
