<footer id="footer" class="site-footer col-md-12 col-md-offset-0">
  <div class="copyright-info">
    <ul class="list-inline">
      <li>
        <a href="/about_us">关于我们</a>
      </li>
    </ul>
    <span>©2016 Tower, Inc. All Rights Reserved</span>
  </div>
</div>
</footer>
